<%- include('../partials/header') %>
<div class="show-header text-center">
  <p>Update <%= player.firstName %> <%= player.lastName %></p>
</div>

<div class="d-flex align-items-center justify-content-center text-center">
  <form id="form" action="/players/<%=player.id%>/?_method=PUT" method="POST">
    <label>Games Played:</label>
    <input
      type="Number"
      name="gamesPlayed"
      class="form-control text-center form-control-md"
      value="<%=player.gamesPlayed%>"
      required
    />
    <br />
    <label>Points:</label>
    <input
      type="Number"
      name="points"
      class="form-control text-center form-control-md"
      value="<%=player.points%>"
      required
    />
    <br />
    <label>Goals:</label>
    <input
      type="Number"
      name="goals"
      class="form-control text-center form-control-md"
      value="<%=player.goals%>"
      required
    />
    <br />
    <label>Assists:</label>
    <input
      type="Number"
      name="assists"
      class="form-control text-center form-control-md"
      value="<%=player.assists%>"
      required
    />
    <br />
    <label>PIM:</label>
    <input
      type="Number"
      name="pim"
      class="form-control text-center form-control-md"
      value="<%=player.pim%>"
      required
    />
    <br />
    <label>+/-</label>
    <input
      type="Number"
      name="plusMinus"
      class="form-control text-center form-control-md"
      value="<%=player.plusMinus%>"
      required
    />
    <br />
    <label>Player Pic URL:</label>
    <br />
    <input
      name="playerPic"
      class="form-control form-control-lg"
      type="String"
      value="<%=player.playerPic%>"
      autocomplete="off"
    />
    <br />
    <label>Current Team</label>
    <select name="team">
      <% allTeams.forEach(team => { %>
      <option value="<%= team.id %>"><%= team.name %></option>
      <% }) %>
    </select>
    <br />
    <input type="submit" value="Add Player" />
  </form>
</div>

<%- include('../partials/footer') %>
