<%- include('../partials/header') %>

<div id="container-lg">
  <form
    id="update-form"
    action="/players/<%=player.id%>/?_method=PUT"
    method="POST"
  >
    <label>Games Played:</label>
    <input type="Number" name="gamesPlayed" class="form-control form-control-lg" value="<%=player.gamesPlayed%>" required />
    <br />
    <label>Points:</label>
    <input type="Number" name="points" class="form-control form-control-lg" value="<%=player.points%>" required />
    <br />
    <label>Goals:</label>
    <input type="Number" name="goals" class="form-control form-control-lg" value="<%=player.goals%>" required />
    <br />
    <label>Assists:</label>
    <input type="Number" name="assists" class="form-control form-control-lg" value="<%=player.assists%>" required />
    <br />
    <label>PIM:</label>
    <input type="Number" name="pim" class="form-control form-control-lg" value="<%=player.pim%>" required />
    <br />
    <label>+/-</label>
    <input type="Number" name="plusMinus" class="form-control form-control-lg" value="<%=player.plusMinus%>" required />
    <br />
    <label>Current Team</label>
    <select name="team">
      <% allTeams.forEach(team => { %>
      <option value="<%= team.id %>"><%= team.name %></option>
      <% }) %>
    </select>
    <br />
    <input type="submit" value="Add Player" />
  </form>
</div>

<%- include('../partials/footer') %>
