<%- include('../partials/header') %>

<div class="show-header text-center">
  <p>Update <%= team.city %> <%= team.name %></p>
</div>

<div class="d-flex align-items-center justify-content-center text-center">
  <form id="form" action="/teams/<%=team.id%>/?_method=PUT" method="POST">
    <label>Games Played:</label>
    <br />
    <input
      name="gamesPlayed"
      class="form-control form-control-md"
      type="Number"
      value="<%=team.gamesPlayed%>"
    />
    <br />
    <label>Points:</label>
    <br />
    <input
      name="points"
      class="form-control form-control-md"
      type="Number"
      value="<%=team.points%>"
    />
    <br />
    <label>Wins:</label>
    <br />
    <input
      name="wins"
      class="form-control form-control-md"
      type="Number"
      value="<%=team.wins%>"
    />
    <br />
    <label>Losses:</label>
    <br />
    <input
      name="losses"
      class="form-control form-control-md"
      type="Number"
      value="<%=team.losses%>"
    />
    <br />
    <label>Overtime Losses:</label>
    <br />
    <input
      name="pim"
      class="form-control form-control-md"
      type="Number"
      value="<%=team.otl%>"
    />
    <br />
    <label>Logo URL:</label>
    <input
      type="String"
      name="logo"
      class="form-control text-center form-control-md"
      value="<%=team.logo%>"
      required
    />
    <br />
    <input type="submit" value="Update Stats" />
  </form>
</div>
<%- include('../partials/footer') %>
