<%- include('../partials/header') %> 

<% teams.forEach(t => { %>
 <a href="/teams/<%=t._id %>"> <%= t.city %> <%= t.name %></a>
<% }) %>

<a href="/teams/new" <%- title === 'Add Team' ? 'class="active"' : '' %>>Add Team</a>

<%- include('../partials/footer') %> 