<%- include('../partials/header') %> 

<% teams.forEach(t => { %>
 <%= t.city %>
 <%= t.name %> 
 <a href="/teams/<%=t._id %>">Stats</a>
<% }) %>

<a href="/teams/new" <%- title === 'Add Team' ? 'class="active"' : '' %>>Add Team</a>

<%- include('../partials/footer') %> 