<%- include('../partials/header') %> 
<p class='show-header text-center'>All Teams</p>
<div class="container-sm text-center col-6">


    <table id="tables" class="table table-striped">
      <thead>
  <tr>  
   
        <th style= "text-align:left" scope="col">Team:</th>
        <th scope="col">Games Played</th>
        <th scope="col">Wins</th>
        <th scope="col">Losses</th> 
        <th scope="col">O.T Losses:</th>
        <th scope="col">Points:</th>   

  </tr>
      </thead>
      <tbody>
        <% teams.forEach(t => { %>
        <tr>
<div class="team-name-logo">
        <td style= "text-align:left">
        <a href="/teams/<%=t._id %>" style ="text-decoration: none; color: inherit"><img height="50px" src=<%=t.logo%>> <%= t.city %> <%= t.name %></a>
</td>
</div>
        <td><%= t.gamesPlayed %></td>
        <td><%= t.wins %></td>
        <td><%= t.losses %></td>
        <td><%=t.otl%></td>   
        <td><%=t.points%></td> 
<% if (user) { %>
         <td><button type="button" class ="btn btn-secondary btn-sm"  ><a href="/teams/<%=t._id%>/edit" style ="text-decoration: none; color: inherit">Update</a></button></td>

        <td><form action="/teams/<%=t.id%>?_method=DELETE" method="POST">
          <button type="submit" class ="btn btn-danger btn-sm">REMOVE</button>
          </form>
          </td>


       <% } else { %>
      <% } %>     


    <% }) %>
</tr>  
</tbody>
</table>
</div>

<%- include('../partials/footer') %> 