<%- include('../partials/header') %> 

<%= team.city %>

<%= team.name %>

<%= team.arena %>

<button><a href="/teams/<%=team._id%>/players/new">Add Player</a></button>

<%- include('../partials/footer') %> 