<%- include('../partials/header') %>
<div class="container-md text-center">
  <img height="200px" src=<%=team.logo%>>


  <p class='show-header'><%= team.city %> <%= team.name %></p>
  <br />
  <p class='show-sub'><%= team.arena %></p>
</div>
<br />
<br />
<div class="container-lg text-center col-5">
  <table id="tables" class="table table-striped">
    <thead>
<tr>
      <th scope="col">Jersey #:</th>
      <th scope="col">Player</th>
      <th scope="col">Games Played</th>
      <th scope="col">Points</th>
      <th scope="col">Goals</th>
      <th scope="col">Assists</th>    
</tr>
    </thead>
    <tbody>
      <% players.forEach(p => { %>
      <tr>
        <th scope="row"><%= p.jerseyNo %> </th>
        <td>
          <a href="/players/<%=p._id %>"
            style ="text-decoration: none; color: inherit"><%= p.firstName %> <%= p.lastName %></a>
        </td>
        <td><%=p.gamesPlayed %></td>
        <td><%=p.points %></td>
        <td><%=p.goals %></td>
        <td><%=p.assists %></td>
        <% }) %>
      </tr>
    </tbody>
  </table>
<%- include('../partials/footer') %>
</div>
